[Desktop Entry]
Name=lxnstack
Comment=A program to align and stack astronomical images
Comment[it]=Un programma per allineare e sommare le immagini astronomiche
Exec=lxnstack
TryExec=lxnstack
Icon=lxnstack
Categories=Education;Graphics;KDE;Qt;
Terminal=false
Type=Application
Version=1.0
