[Desktop Entry]
Categories=Education;Graphics;KDE;Qt;
Comment[it]=Un programma per allineare e sommare le immagini astronomiche
Comment=Un programma per allineare e sommare le immagini astronomiche
Exec=lxnstack -l %f
MimeType=application/lxnstack-project;
GenericName[it]=
GenericName=
Icon=lxnstack
MimeType=
Name[it]=lxnstack
Name=lxnstack
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=lxnstack
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
